
.vs/MyProject/v16/Browse.VC.db
.vs/MyProject/v16/Browse.VC.db-wal
.vs/MyProject/v16/ipch/AutoPCH/fcd5c110be7a1e6d/MYPAWN.ipch
Intermediate/Build/Win64/MyProjectEditor/Development/Engine/SharedPCH.Engine.ShadowErrors.h.pch
.vs/MyProject/v16/Browse.VC.opendb
